<h1>Movies via Voodoo Black Magic</h1>

<button id="button" class="btn btn-success">Abracadabra</button>

<div class="category">
  <h2>Low Budget Movies i.e. Movies with a budget of 55</h2>
  <div id="low-budgets">
  </div>
</div>

<div class="category">
  <h2>Leo Movies</h2>
  <div id="leo-movies">
  </div>
</div>

<script>
$(window).ready(function(){

  $("#button").on("click", function(){
    $("#low-budgets").html("");
    $("#leo-movies").html("");

    $.getJSON("/movies.json").then(function(data){
      var movies = data.movies;
      console.log(movies);
      // use underscore on the data
      var lowBudgets = _.where(movies, {budget: 55});
      lowBudgets.forEach(function(movie){
        $("#low-budgets").append("<p>" + movie.title + "</p>");
      });

      var leoMovies = _.filter(movies, function(movies){
        return(_.contains(movies.stars, "Leonardo DiCaprio"))
      });
      leoMovies.forEach(function(movie){
        $("#leo-movies").append("<p>" + movie.title + "</p>");
      });
    });
  })
});
</script>
